.card-simple
	min-width: 260px
	width: 260px
	height: 260px
	position: relative
	display: flex
	align-items: flex-end
	margin: 0 auto
	border-radius: 20px
	overflow: hidden
	+tr
	+h
		+scale(1.1)
		.card-simple__img-container
			filter: none
			+scale(1.05)
			opacity: 0.3
			+before
				background-color: rgba(0, 0, 0, 1)

		.card-simple__title
			// @extend .gradient-text
			text-shadow: none



	&__img-container
		pointer-events: none
		position: absolute
		top: 0
		bottom: 0
		left: 0
		opacity: 0.5
		right: 0
		border-radius: 20px
		overflow: hidden
		background-color: $black
		+scale(1.4)
		+blurFilter(3)
		+trs
		+before
			pointer-events: none
			+cover
			+trs

	&__img
		position: absolute
		width: calc(100% + 2px)
		height: calc(100% + 2px)
		top: -1px
		bottom: -1px
		left: -1px
		right: -3px
		+coverimg

	&__title
		width: 100%
		z-index: 2
		color: #fff
		padding: 30px 27px
		font-family: $ff
		font-size: 20px
		font-weight: 800
		text-shadow: 0 0 4px #000
		+tr
		a
			color: #FFF

